<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table>
  <thead>
  <tr>
    <th>Lexicon</th>
    <th>Description</th>
    <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="lexicon in lexicons | filter:search | orderBy:'name'">
    <td><a href="{{lexicon.site}}" target="_blank">{{lexicon.name}}</a></td>
    <td>{{lexicon.description}}</td>
    <td>
      <a href="#/edit/{{lexicon._id.$oid}}"><i class="icon-pencil"></i></a>
    </td>
  </tr>
  </tbody>
</table>
